/*
*********************************************
    GLOBAL
*********************************************
*/
body{
    font-family: Raleway;
    max-width : 1400px;
    width : 100%;
    margin : 0 auto;
    
}
.container{
    margin-left : 3.5%;
    margin-right : 3.5%;
}
h1{
    font-size : 22px;
    font-weight: 700;
}
h2{
    font-size: 22px;
}
h3{
    font-size: 16px;
}
p{
    font-size: 14px;
}
.card_content{
    padding-left : 16px;
    padding-right : 16px;
}

a{
    text-decoration: none;
    color : black;
}
.blue_icon{
    color : #0065FC;
}
.grey_icon{
    color : #F2F2F2;
}
.black_icon{
    color : black;
}

@media all and (max-width : 992px){
    .container{
        margin-left : 3%;
        margin-right : 3%;
    }
}
@media all and (max-width: 768px){
    .container{
        margin : 0;
    }
}
/*
*********************************************
    HEADER
*********************************************
*/


header{
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top : 30px;
    margin-bottom: 50px;
}

.logo{
    height : 20px;
}
.list_menu{ 
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.list_button{
    padding-top : 9px ; 
}
.list_button a{
    padding-left : 30px;
    padding-right: 30px;
    padding-top : 53px;
}
.list_button a:hover{
    color : #0065FC;
    border-top : 2px solid #0065FC;
}

@media all and (max-width: 768px){
    header{
        flex-direction: column;
        gap : 30px;
        margin-bottom: 10px;
    }
    nav{
        width : 100%;
    }
    .list_menu{
        justify-content: space-around;
        text-align: center;
        padding-left: 0px;
    }
    .list_button{
        width : 50%;
        padding-bottom : 22px;
        border-bottom : 3px solid #F2F2F2;
    }
    .list_button:hover{
        border-bottom : 3px solid #0065FC;
    }
    .list_button a:hover{
        border-top: none;
    }
}
/*
*********************************************
    RESEARCH SECTION   
*********************************************
*/


.research{
    margin-bottom: 50px;
}
.research p, h1{
    padding-left : 0px;
}


/* Search Form */


.localisation_form{
    display : flex;
    flex-direction : row;
    align-items: center;
    margin-bottom: 30px;
    
}

.button_location{
    width : 50px;
    height : 49px;
    background-color: #F2F2F2;
    border-radius : 15px 0px 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#localisation{
    height: 45px;
    outline: none;
    border : 1px solid #F2F2F2;
    color : black;
    text-align: center;
    font-size: 18px;
}
.localisation_button{
    height: 49px;
    background-color: #0065FC;
    padding : 15px 16px 15px 16px;
    border-radius: 0px 15px 15px 0px;
    color : white;
    border : none;
    position :relative;
    left : -1px;

    display: flex;
    align-items: center;
    cursor : pointer;
}
button span{    
    font-size: 18px;
}
.search_mobile{
    display : none;
}
@media all and (max-width: 768px){
    .research{
        margin-left : 20px;
        margin-right : 20px;
    }
    .p_description{
        margin-bottom: 40px;
    }
    .localisation_form{
        justify-content: center;
        margin-bottom: 20px;
    }
    #localisation{
        max-width : 70%;
    }
    .search_mobile{
        display : inline;
    }
    .search_desktop{
        display : none;
    }
    
}

/* Filters */


.filter_container{
    display : flex;
    flex-direction: row;
    gap : 3%;
    font-weight: bold;
    align-items: center;
    margin-bottom: 30px;
}
.filter_container a{
    text-decoration: none;
    color : black;
}
.filter_icon{
    padding-right : 10px;
}
.button_container{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap : 2%;
    width : 100%;
}

.filter_button{
    border : 2px solid #D9D9D9;
    border-radius: 25px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left : 15px;
    padding-right: 15px;
}
.filter_button:hover{
    background-color: #DEEBFF;
}
@media all and (max-width: 768px){
    .filter_container{
        flex-direction: column;
    }
    .filter_icon{
        padding-right : 5px;
    }
    .title_filter{
        width : 98%;
    }
    .button_container{
        flex-wrap: wrap;
        justify-content: space-around;
        gap : 10px;
    }
    .filter_button{
        width : 126px;
    }
    .text_button_filter{
        font-size: 11px;
    }

}

/* Informations */


.info{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.info_icon{
    width : 25px;
    height: 25px;
    margin-right: 8px;
    border-radius: 50px;
    border : 2px solid #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
}




/*
*********************************************
SECTION + ASIDE
*********************************************
*/



.hosting{
    display: flex;
    flex-direction: row;
    gap: 2.5%;
}

.hosting section, aside{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding : 35px;
    
    margin-bottom: 50px;
}

.host_box{
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap : 20px;

    border-radius: 20px;
    margin-bottom: 30px;
}
.host_card{
    width : 30%;
    display: block;
    border : 5px solid white;
    background-color: white;
    border-radius: 20px;
}
.host_card_title{
    margin-bottom: 0;
    margin-top : 13px;
}
.host_img{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 124px;
    object-fit: cover;
}
.host_content{
    height : 140px;
    display : flex ;
    flex-direction : column;
    align-items : start;
}
.price_p{
    margin-top : 8px;
    margin-bottom : 6px;
}
.all_stars{
    margin-top : auto;
    margin-bottom: 13px;;
}

.afficher_plus{
    font-weight: bold;
    font-size: 18px;
}


@media all and (max-width: 992px){
    .hosting{
        display: flex;
        flex-direction: column;
    }   
    .host_content{
        height : 125px;
    }
    .card_content{
        padding-left : 10px;
        padding-right : 10px;
    }
}


@media all and (max-width : 768px){
    .hosting{
        display: flex;
        flex-direction: column-reverse;
    }
    .hosting section, aside{
        border-radius: 0;
        padding-left : 5%;
        padding-right : 5%;
        padding-top : 20px;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .hosting section{
        background-color: white;
    }
    .host_box{
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
    }
    .host_card{
        width : 97.5%;
        border-radius: 20px;
        box-shadow: 5px 5px 10px #D9D9D9;
    }
    .price_p{
        margin-top : 16px;
    }
    .afficher_plus{
        display : none;
    }
}




/* Les + populaires*/


.popular_container{
    display : flex;
    flex-direction: column;
}
.title_aside{
    display: flex;
    flex-direction:row ;
    align-items: center;
    justify-content : space-between;
}
.popular_card{
    display : flex;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 35px;
    border : 5px solid white;
}
.popular_img_container{
    width : 40%;
}
.popular_img{
    width : 100%;
    height : 148px;
    border-radius: 20px 0px 0px 20px;
    
    object-fit: cover;
}
.popular_content{
    width : 60%;
    display : flex ;
    flex-direction: column;
    justify-content: start;
}
.popular_title_content{
    margin-bottom : 0;
    margin-top : 13px;
}  



@media all and (max-width: 992px){
    .popular_container{
        display : flex ;
        flex-direction: row;
        justify-content: space-between;
    }
    .popular_card{
        width : 31%;
    }
    .popular_img{
        height : 150px;
    }
}
@media all and (max-width : 768px){
    .popular_container{
        flex-direction : column;
    }
    .popular_card{
        width : 97.5%;
    }
}



/*
*********************************************
    ACTIVITES A MARSEILLE
*********************************************
*/

#activity{
    margin-bottom: 50px;
}

.activity_container{
    display : flex;
    flex-direction: row;
    justify-content: center;
    gap : 3%;
}
.activity_card{
    display: block;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #D9D9D9;
    width : 25%;
}
.activity_img{
    width: 100%;
    height: 390px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.activity_content{
    padding-left : 16px;
    padding-right : 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height : 70px;
}


@media all and (max-width: 992px){
    .activity_card{
        height : 280px;
    }
    .activity_img{
        height : 75%;
    }
}


@media all and (max-width : 768px){
    #activity{
        padding-left : 5%;
        padding-right : 5%;
    }
    .activity_container{
        flex-direction: column;
    }
    .activity_card{
        margin-bottom: 30px;
        width : 100%;
        height : 200px;
    }
    .activity_img{
        height : 134px;
    }
    .activity_content{
        height : 60px;
    }
}






/*
*********************************************
    FOOTER
*********************************************
*/

footer{
    /*height: 225px;*/
    display: flex;
    flex-direction: row;
    gap : 17%;

    padding: 45px;
    padding-left: 75px;

    background-color: #F2F2F2;
}

.title_footer{
    margin-bottom: 25px;
    padding-left: 16px;
    font-size: 18px;
    font-weight: bold;
}
.footer_list{
    list-style-type: none;
    padding : 0;
    margin-left : 16px;
}
.footer_link{
    margin-bottom : 16px;
}



@media all and (max-width: 992px){
    footer{
        gap : 10%;
    }
}


@media all and (max-width : 768px){
    footer{
        flex-direction: column;
        padding-top : 5%;
        padding-left: 6%;
        padding-bottom: 0px;
    }
    footer div{
        margin-bottom : 20px;
    }
}