/*
*********************************************
    GLOBAL
*********************************************
*/
body{
    font-family: Raleway;
    max-width : 1440px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left : 3.5%;
    margin-right : 3.5%;
}
h1{
    font-size : 22px;
    font-weight: 700;
}
h2{
    font-size: 22px;
}
h3, p{
    padding-left: 16px;
    font-size: 16px;
}
h3{
    line-height: 19px;
}

a{
    text-decoration: none;
    color : black;
}
/*
*********************************************
    HEADER
*********************************************
*/


header{
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top : 30px;
    margin-bottom: 50px;
}
.logo{
    height : 20px;
}
nav ul{ 
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
nav li {
    padding-top : 9px ; 
}
nav a:hover{
    color : #0065FC;
    border-top : 2px solid #0065FC;
}
nav a{
    padding-left : 30px;
    padding-right: 30px;
    padding-top : 53px;
}
/*
*********************************************
    BANNER
*********************************************
*/


.banner{
    margin-bottom: 50px;
}
.banner p, h1{
    padding-left : 0px;
}


/* Search Form */


.banner form{
    display : flex;
    flex-direction : row;
    align-items: center;
    margin-bottom: 30px;

    
}

.button_location{
    width : 50px;
    height : 49px;
    background-color: #F2F2F2;
    border-radius : 15px 0px 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    height: 45px;
    outline: none;
    border : 1px solid #F2F2F2;
    color : black;
    text-align: center;
    font-size: 18px;
}
button{
    height: 49px;
    background-color: #0065FC;
    padding : 15px 16px 15px 16px;
    border-radius: 0px 15px 15px 0px;
    color : white;
    border : none;
    position :relative;
    left : -1px;

    display: flex;
    align-items: center;
    cursor : pointer;
}
button span{
    font-size: 18px;
}
.fa-magnifying-glass{
    display : none;
    padding-right: 10px;
}


/* Filters */


.filter_container{
    display : flex;
    flex-direction: row;
    font-weight: bold;
    align-items: center;
    margin-bottom: 30px;
}
.filter_container a{
    text-decoration: none;
    color : black;
}
.filter_container i{
    padding-right : 10px;
    color : #0065FC;
}
.filter_container div{
    margin-right : 25px;
    padding-left : 20px;
    padding-right: 20px;
    
}

.filter_button{
    border : 2px solid #D9D9D9;
    border-radius: 25px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.filter_button:hover{
    background-color: #DEEBFF;
}


/* Informations */


.info_banner{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.info_banner i{
    width : 25px;
    height: 25px;
    margin-right: 8px;
    border-radius: 50px;
    border : 2px solid #D9D9D9;
    color :#0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
}




/*
*********************************************
SECTION + ASIDE
*********************************************
*/



.bigbox{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2.5%;
    margin-bottom: 50px;
}
.bigbox p{
    font-size: 14px;
    line-height: 8px;
}
.bigbox section, aside{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding : 40px;
}
.bigbox i{
    color : #0065FC;
}
.title_aside{
    display: flex;
    flex-direction:row ;
    align-items: center;
    justify-content : space-between;
}
.host_box{
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap : 30px;

    border-radius: 20px;
    margin-bottom: 30px;
}
.host_card{
    border : 5px solid white;
    background-color: white;
    border-radius: 20px;
}
.host_card img{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 124px;
    object-fit: cover;
}





/* Les + populaires*/

.popular_card{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 35px;
}
.popular_card img{
    width : 137px;
    height : 144px;
    border-radius: 20px 0px 0px 20px;
    border : 5px solid white;
    object-fit: cover;
}
.popular_content{
    padding-right : 16px;
    display : flex ;
    flex-direction: column;
    justify-content: space-between;
}






/*
*********************************************
    ACTIVITES A MARSEILLE
*********************************************
*/

.activity{
    margin-bottom: 50px;
}

.activity_container{
    display : flex;
    flex-direction: row;
    justify-content: space-between;
}
.activity_card{
    width : 300px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #D9D9D9;
}
.activity_card img{
    width: 100%;
    height: 390px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.activity h3{
    padding-bottom : 20px;
}





/*
*********************************************
    FOOTER
*********************************************
*/

footer{
    height: 225px;
    display: flex;
    flex-direction: row;
    gap : 16%;

    padding: 45px;
    padding-left: 75px;

    background-color: #F2F2F2;
}
.title_footer{
    margin-bottom: 25px;
    padding-left: 16px;
    font-size: 18px;
    font-weight: bold;
}